.wrap-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    animation : logo-animation infinite 1s linear
}

@keyframes logo-animation {
    from {transform: rotate(0)}
    to {transform: rotate(360)}
};
